body {
  background-color: hsla(0, 0%, 0%, 1);
  background-image: radial-gradient(
      at 52% 100%,
      hsla(204, 86%, 29%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 52% 100%, hsla(241, 86%, 29%, 1) 0px, transparent 50%);
  font-family: Arial, sans-serif;
  color: var(--on-background);
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(
        at 51% 15%,
        hsla(204, 86%, 29%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 51% 15%, hsla(241, 86%, 29%, 1) 0px, transparent 50%);
    background-size: 100% 50%;
    font-family: Arial, sans-serif;
    color: var(--on-background);
    background-repeat: no-repeat;
  }
}
:root {
  --background: #101010;
  --on-background: #f2f2f2;
}

.section-info {
  padding: 0 3rem;
  height: 100vh;
}
