---
---

<article class="flex flex-col items-center">
  <h2 class="text-4xl tracking-wide ">Sobre mi</h2>
  <p class="tracking-wide mt-4 font-extralight italic">
Estudiante de ingeniería en Sistemas de información, actualmente finalizando el cuarto año.
<br>
Me intereso en el avance de las nuevas tecnologías para el desarrollo de software. Busco oportunidades en el campo del desarrollo donde pueda aplicar y expandir mis habilidades técnicas. 
<br>
Actualmente, desarrollo con TypeScript en SvelteKit y en AstroJS
<br>
Mantengo constancia en el ingles el cual practico 4 hs semanales para mejorar mi fluidez.
  </p>
</article>

<style>
 
  
  h2{
    text-shadow: 0 5px 10px rgba(0, 87, 255, .15), 0 -5px 10px rgba(255, 90, 0, .1), 0 -5px 25px rgba(255, 255, 255, .3);
  }
</style>