---
---

<article class="flex flex-col items-center">
  <h2 class="text-4xl tracking-wide ">Sobre mi</h2>
  <p class="tracking-wide mt-4 font-extralight italic">
Estudiante de ingeniería en Sistemas de información, actualmente finalizando la carrera.
<br>
Me intereso en el avance de las nuevas tecnologías para el desarrollo de software. Busco oportunidades en el campo del desarrollo donde pueda aplicar y expandir mis habilidades técnicas. 
<br>
Desarrollo con principalmente TypeScript o JavaScript en SvelteKit y en AstroJS
<br>
También tengo conocimientos en Java, C#, Python, PHP, SQL, HTML, CSS.
<br>
Finalize los 6 niveles de inglés en el Instituto de Inglés EFE
  </p>
</article>

<style>
 
  
  h2{
    text-shadow: 0 5px 10px rgba(0, 87, 255, .15), 0 -5px 10px rgba(255, 90, 0, .1), 0 -5px 25px rgba(255, 255, 255, .3);
  }
</style>