---
import Estudio from "./Estudio.astro";
---
<article class="flex flex-col items-start gap-6">
  <h2 class="text-4xl tracking-wide text-center self-center">Estudios</h2>
  <Estudio institute="Universidad Tecnologica Nacional" degree="Ingenieria en sistemas de informacion" start_date="2018" end_date="Actualidad" />
  <Estudio institute="Escuela Tecncia Nacional N461" degree="Tencico electromecanico" start_date="2012" end_date="2017" />
</article>

<style>
  p{
    font-style: italic;
  }
  
  h2{
    text-shadow: 0 5px 10px rgba(0, 87, 255, .15), 0 -5px 10px rgba(255, 90, 0, .1), 0 -5px 25px rgba(255, 255, 255, .3);
  }
</style>